<!DOCTYPE html>
<html>
    <head>
        <title>Destinations</title>
        <style>
            
        </style>
    </head>

    <body> 

        <a href="/destinations/add">Ajouter une destination</a>
        <h1>Liste des destinations</h1>
        <ul> 
            <% for(let i = 0; i < destinations.length; i++) { %>
            <li><%= destinations[i].ID_Destination %> <%= destinations[i].ID_Agency %> <%= destinations[i].country %> <%= destinations[i].city %>  <%= destinations[i].days %> <br>
                <a href="/destinations/update/:ID_Destination <%= destinations[i].ID_Destination %>">Modifier</a>
                <a href="/destinations/delete/:ID_Destination <%= destinations[i].ID_Destination %>">Supprimer</a>
            </li>
            <% } %>
        </ul>        
    </body>

    <footer></footer>
</html>