<!DOCTYPE html>
<html>
    <head>
        <title>Destinations</title>
        <style>
            
        </style>
    </head>

    <body> 

        <h1>Liste des destinations</h1>
        <ul> 
            <% for(let i = 0; i < destinations.length; i++) { %>
            <li><%= destinations[i].country %> <%= destinations[i].city %>  <%= destinations[i].days %> <br>
                <a href="/destinations/<%= destinations[i].iddestination %>">Modifier</a>
                <a href="/destinations/delete/ <%= i %>"> Supprimer</a>
            </li>
            <% } %> 
        </ul>  
        
        <a href="/destinations/add">Ajouter une destination</a>

    </body>

    <footer></footer>
</html>